/* Styling applicable for all screen sizes */

.about{
    margin:10px;
}

.card{
    margin-top:10px;
}

a{
    margin:5px;
}


.button{
    text-align: center;
}

.center-buttons {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.center-buttons a {
    margin: 0;
}

/* Small screen size */
@media screen and (min-width: 820px) and (max-width:1920px) {
    .card-container{
        margin-bottom: 60px;
    }
}

/* Medium and Large screen size*/
@media screen and (min-width: 1920px) {
    .about{
        margin:35px;
    }
    h3{
        text-align: center;
    }

    .card-container{
        padding: 0;
        margin-top: 20px;
        list-style: none;
        display: flex;
        justify-content: center;
    }
    
    .card{
        width:50vw;
        display:flex;
        margin:5px;
        margin-bottom: 235px;
    }
    
    .card-body, .card-title{
        margin:5px;
    }
    
    .card-button{
        margin-top:15px;
    }    
}
