/* Styling applicable for all screen sizes */

body, html {
  height: 100%;
  width: 100%;
  background-color: #ddd;
}

/* Background photo */
.hero-container{
  /* Use "linear-gradient" to add a darken background effect  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.2)), url("../images/me.jpeg");

    /* Position and center the image to scale nicely on all screens */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}

.hero-text{
  color:#ddd;
  font-family:'Castoro Titling';
  font-weight: 15px;
  text-align: center;
  margin-right:80px;
}

/* Small screen size */
@media screen and (min-width: 390px) and (max-width:820px) {

  .hero-container{
    height:90vh;
  }

}

/* Medium screen size*/
@media screen and (min-width: 820px) and (max-width:1920px) {

  .hero-container{
    height:100vh;
    }
  .hero-text > p,.hero-text>a{
    font-size: 20px;
  }
  .hero-text >h1 {
    font-size: 50px;
  }
}


/* Large screen size */
@media screen and (min-width: 1920px) {

  .hero-container{
    height:100vh;
    }
  .hero-text{
    margin-right:200px;
  }
  .hero-text > p {
    font-size: 30px;
  }
  .hero-text> button{
    font-size: 25px;
  }
  .hero-text >h1 {
    font-size: 75px;
  }
}